Repository kubernetes-sigs/kubetest2, pull requests merged in 2021-08, with the labels that each got.

#160 Allow gce deployer to use make instead of Bazel
  kubetest2-gce/deployer/build.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#161 Change the gke minor regex to use single backslash to escape since it's in a raw string.
  kubetest2-gke/deployer/build/gke_make.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#103 [Node] Add node-e2e tester
  kubetest2-noop/deployer/deployer.go
  kubetest2-noop/main.go
  kubetest2-tester-node/main.go
  pkg/testers/node/node.go
Labels: cncf-cla: yes, approved, size/L, lgtm

#162 Add version support for all binaries
  Makefile
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-noop/deployer/deployer.go
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/app/shim/shim.go
  pkg/metadata/metadata.go
  pkg/metadata/metadata_test.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/metadata.go
  pkg/testers/node/node.go
  pkg/types/types.go
Labels: cncf-cla: yes, approved, size/L, lgtm
